<serverConfig>
    <defaultInputPath>./</defaultInputPath>
    <defaultOutputPath>./output/</defaultOutputPath>
    <defaultBatchScript>../bash/testbash.sh</defaultBatchScript>
    <addFakeDelay>True</addFakeDelay>

    <c_const_for_utilitybased>0.2</c_const_for_utilitybased>
    <lowscalingThreshold>0.1</lowscalingThreshold>
    <highscalingThreshold>0.5</highscalingThreshold>

    <enableTimeEstimator>true</enableTimeEstimator>
    <schedulerPolicy>minmin</schedulerPolicy>
    <enableCaching>false</enableCaching>
    <enableVMscaling>true</enableVMscaling>
    <VMscalingInterval>10000</VMscalingInterval>
    <enableVMscalingoutofInterval>true</enableVMscalingoutofInterval>

    <maxVM>7</maxVM>
    <maxVMqueuelength>2</maxVMqueuelength>
    <mapping_mechanism>ShortestQueueFirst</mapping_mechanism>	
	
    <path>./</path>

    <videoList>./repositoryvideos/ff_trailer_part1/</videoList>
    <videoList>./repositoryvideos/ff_trailer_part3/</videoList>
    <videoList>./repositoryvideos/bbb_trailer/</videoList>

    <VM_address>localhost</VM_address>
    <VM_ports>5060</VM_ports>

    <VM_address>localhost</VM_address>
    <VM_ports>5061</VM_ports>

    <VM_address>localhost</VM_address>
    <VM_ports>5062</VM_ports>

    <VM_address>localhost</VM_address>
    <VM_ports>5063</VM_ports>

    <VM_address>localhost</VM_address>
    <VM_ports>5064</VM_ports>

    <VM_address>localhost</VM_address>
    <VM_ports>5065</VM_ports>
    <VM_address>localhost</VM_address>
    <VM_ports>5066</VM_ports>
    <VM_address>localhost</VM_address>
    <VM_ports>5067</VM_ports>
</serverConfig>


